@import "tailwindcss";

:root {
  /* Primary & Buttons */
  --primary: #FF6B6B;       /* Soft Red */
  
  /* Secondary / Accent */
  --accent: #FFD93D;        /* Sunny Yellow */
  
  /* Backgrounds */
  --background: #FFF3E0;    /* Cream */
  
  /* Text */
  --text: #3E3E3E;          /* Dark Gray */
  
  /* Hover / Highlights */
  --hover: #FF8566;         /* Peachy Orange */
}
body{
    font-family: "poppins";
    background-color: var(--background);
    color: var(--text);
    scroll-behavior: smooth;
}
.fa-brands{
     color: var(--primary);
  font-size: 34px;
  margin-bottom: 12px solid var(--primary);
  transition: transform 0.3s ease;
}
.fa-brands:hover{
    transform: scale(1.3);
}
.logo-1:hover{
    color: #FF6B6B;
}
.ul li a:hover{
    color: #FF6B6B;
}
.ul li:hover{
    color: #FF6B6B;
}
@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.05) 0%,
    rgba(255,255,255,0.1) 50%,
    rgba(255,255,255,0.05) 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.8s infinite linear;
}
